.cartItem-container{
    width: 600px;
    height: 170px;
    border:2px solid #ddd;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
}

.item-image{
    margin: 0;
    width: 40%;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.item-details{
    padding:10px;
}
.rating{
    color: rgb(245, 201, 7);
}

.remove-button{
    padding:5px;
    background-color: #f0c363;
    border: #f0c363;
}