.cartItem-container{
    width: 600px;
    height: fit-content;
    border:2px solid #ddd;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
}

.item-image{
    margin: 0;
    width: 40%;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.item-details{
    padding:10px;
}
.rating{
    color: rgb(245, 201, 7);
}

.remove-button{
    padding:5px;
    background-color: #f0c363;
    border: #f0c363;
}

.quantity{
    display: flex;
    font-size: 20px;

}
.quantity .plus, .minus{
    padding: 5px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgba(19, 18, 18, 0.781);
    margin: 5px;
}
.quantity small{
    padding:5px;
    margin: 5px 0px;
}
@media screen and (max-width: 480px) {
  .cartItem-container{
     width: 100%;
     display: block;
  }
  .item-image{
      display: block;
      width: 100%;
  }
}