body{
    background-color: #f3f3f3;
  }
.section1 , .section2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 10px 7%;
    
}
@media screen and (max-width: 480px) {
    .section1{
        padding: 0%;
        margin: auto;
    }
  
}