.body{
    display: flex;
    padding: 5px 7%;
    justify-content: space-between;
}
.categories-heading{
    text-align: center;
    margin: auto;
    font-size: 20px;
    background-color: rgba(23, 118, 206, 0.87);
    color: #fff;
}
.specific-products{  
    width: 70%;
    background-color: rgba(255, 255, 255, 0.925);
}

@media screen and (max-width: 480px) {
    .categories-body{
        width: 100%;
    }
    .specific-products{
        display: flex;
        align-items: center;
        width: 100%;
    }
  
}