.item{
    width: 170px;
}
.item:hover{
    width: 175px;
}
.image{
   background-position: center;
   background-size: cover;
   cursor: pointer;
}
.item .offervalue{
    padding:10px;
    margin: 5px;
    background-color: tomato;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 10px;
    line-height: 10px;
     color: white;
     float: right;
}
.item .add-to-cart{
    display: block;
    padding:10px;
    margin:5px;
    width:100%;
    background-color: #f0c363;
    text-align: center;
    color: rgba(34, 32, 32, 0.884);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .item{
        width: 250px;
    }
    .item:hover{
        width: 255px;
    }
    
}