.product-details{
        padding: 0 10%;
       
        width: 50%;
    
}
.product-container{
    
    display: flex;
    height:fit-content;
    background-color:white;
    flex-wrap: wrap;

}
.product-image{
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
}
.product-description{
    display: block;
    
    
}
.product-name{
    text-transform: uppercase;
    font-size: larger;
}
.product-container .offervalue{
    display: block;
}